* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerr {
  background: url("../../assets/home1.jpg") center center/cover no-repeat;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: #fff;
  padding: 0.7rem;
  opacity: 0.6;
  position: fixed;
  top: 0px;
}
.navbar .menuItems {
  list-style: none;
}

.navItems {
  display: flex;
}
.navItems .menuItems {
  list-style: none;
  margin-right: 3rem;
}
