$color-primary: #fff;

$hover-primary: #395144;
$hover-secondary: #285430;
$hover-third: #a4be7b;

@mixin flexBox($val1, $val2, $val3) {
  display: flex;
  flex-direction: $val1;
  justify-content: $val2;
  align-items: $val3;
}

@mixin responsiveRightBg($val1, $val2, $val3) {
  font-size: $val1;
  line-height: $val2;
  margin-bottom: $val3;
  animation: moveInLeftPhones 1s ease-out;
}

@mixin responsiveStartButton($val1, $val2, $val3, $val4) {
  font-size: $val1;
  margin-left: $val2;
  padding: ($val3) ($val4);
  animation: moveToTopPhones 1s ease-out;
}

@mixin toothBrushAnimation($val1, $val2, $val3) {
  left: $val1;
  animation: fall $val2 linear infinite;
  animation-delay: $val3;
}

@mixin responsiveTreatmentsHeader($val1, $val2, $val3) {
  font-size: $val1;
  margin-top: $val2;
  margin-bottom: $val3;
}

@mixin responsiveTreatmentsCol($val1, $val2) {
  width: ($val1) !important;
  margin: ($val2) !important;
}

@mixin responsiveRightMap($val1, $val2) {
  width: ($val1);
  margin-bottom: $val2;
}
@mixin responsiveTreatmentsPageHeader($val1, $val2, $val3) {
  font-size: $val1;
  margin: ($val2) ($val3) !important;
}
@mixin responsiveTreatmentsPageList {
  padding: 0;
  padding-top: 1rem;
}
@mixin responsiveAboutPageImage($val1) {
  height: $val1;
  width: 90%;
  margin-bottom: 2rem;
  clip-path: none;
}
