@import "../abstracts/variables";
@import "../abstracts/mediaquery";

.footer {
  height: 22vh;
  background-color: rgba(248, 249, 250, 1);

  @include respond(tab-land) {
    height: 17vh;
  }

  @include respond(tab-port) {
    height: 17vh;
  }

  @include respond(phone) {
    height: 15vh;
  }

  &-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: #000;

      @include respond(tab-land) {
        font-size: 0.9rem;
      }

      @include respond(tab-port) {
        font-size: 0.9rem;
      }
      @include respond(phone) {
        font-size: 0.8rem;
      }
      @include respond(smallphone) {
        font-size: 0.65rem;
      }
    }
    &-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      font-size: 2rem;
      margin-bottom: 1.4rem;
      cursor: pointer;
      .twitterLogo:hover {
        color: #1da1f2;
      }
      .facebookLogo:hover {
        color: #3b5998;
      }
      .instagramLogo:hover {
        color: #c32aa3;
      }

      @include respond(tab-port) {
        font-size: 1.8rem;
      }

      @include respond(phone) {
        font-size: 1.7rem;
      }
      @include respond(miniphone) {
        font-size: 1.5rem;
        margin-bottom: .6rem;
      }
    }
  }
}
