@import "../abstracts/variables";
@import "../abstracts/mediaquery";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .navbar {
//   background-color: red;
// }
.navbar {
  height: 5rem;
}
.container-fluid .navbar-brand {
  font-size: 2rem;
  @include respond(phone){
    font-size:1rem ;
    line-height: normal;
    padding: 0;
  }
}
.container-fluid{
  @include respond(phone){

    padding: 0 !important;
  }
}
