@import "../abstracts/variables";
@import "../abstracts/mediaquery";
#parent {
    font-family: "Alexandria", sans-serif;
}

.about {
    height: 95vh;
    width: 100vw;
    display: flex;
    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}

.left-about {
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include respond(tab-port) {
        height: 60%;
        width: 100%;
        display: block;
        padding-bottom: 0rem;
      }

    p {
        margin: 2rem auto;
        
    }
}

.right-about {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-port) {
        height: 40%;
        width: 100%;
        margin-bottom: 2rem;
      }

    img {
        width: 65%;
        height: 85%;
        border-radius: 20px;
        box-shadow: 2rem 1.5rem rgba(101, 101, 101, 0.2);
    }
}