@import "../abstracts/variables";

#parent {
    font-family: "Alexandria", sans-serif;
}

.about {
    height: 95vh;
    width: 100vw;
    display: flex;
}

.left-about {
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
        margin: 2rem auto;
    }
}

.right-about {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 65%;
        height: 85%;
        border-radius: 20px;
        box-shadow: 2rem 1.5rem rgba(101, 101, 101, 0.2);
    }
}