@import "../abstracts/variables";
.left-bg {
  height: 100vh;
  width: 50%;
  background: url("../../assets/home.jpg") bottom center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.right-bg {
  height: 100vh;
  width: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  .main-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
    color: $color-primary;

    h1 {
      font-size: 5rem;
      line-height: 5rem;
    }
    .life-header {
      color: $hover-secondary;
    }
    .wave-header {
      font-size: 2rem;
      display: inline-block;
      padding: 0.1rem 0.5rem;
      background: linear-gradient(to right, #353434, #5a5a5a);
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      text-align: center;
      transition: all 1s ease-in;
      margin-left: 0.3rem;

      &:hover {
        padding-right: 4rem;
        background: linear-gradient(to right, $hover-primary, $hover-secondary);
        color: #fff;
      }
    }
  }
}
