@import "../abstracts/variables";
@import "../abstracts/mediaquery";

#parent {
  font-family: "Alexandria", sans-serif;

  .home-container {
    height: 100vh;
    display: flex;
  }

  .left-bg {
    background: url("../../assets/dentist-with-smile.png") left center/cover no-repeat;
    height: 100%;
    width: 50%;
    position: relative;

    @include respond(phone) {
      width: 50%;
      background-position: left;
    }
  }

  .right-bg {
    width: 50%;

    @include respond(phone) {
      width: 50%;
    }

    .main-info {
      height: 100%;
      background: #fff;
      @include flexBox(column, center, flex-start);
      padding-left: 3rem;
      color: #000;

      @include respond(tab-land) {
        padding-left: .5rem;
      }

      @include respond(tab-port) {
        padding-left: 1rem;
      }

      @include respond(phone) {
        padding-left: 1rem;
      }

      @include respond(miniphone) {
        padding-left: .7rem;
      }

      .firstWord,
      .thirdWord,
      .secondWord {

        @include respond(tab-land) {
          @include responsiveRightBg(2.5rem, 3.5rem, 0);
        }

        @include respond(tab-port) {
          @include responsiveRightBg(3rem, 3.5rem, 0);
        }

        @include respond(phone) {
          @include responsiveRightBg(2rem, normal, 0);
        }

        @include respond(miniphone) {
          @include responsiveRightBg(1.5rem, normal, 0);
        }

        @include respond(smallphone) {
          @include responsiveRightBg(1.2rem, normal, 0);
        }

        font-size: 5rem;
        line-height: 5rem;
        animation: moveInLeft 1s ease-out;
      }

      .secondWord {
        animation: moveInRight 1s ease-out;

        @include respond(tab-land) {
          animation: moveToTopPhones 1s ease-out;
        }

        @include respond(tab-port) {
          animation: moveToTopPhones 1s ease-out;
        }

        @include respond(phone) {
          animation: moveInRightPhones 1s ease-out;
        }

        @include respond(miniphone) {
          animation: moveInRightPhones 1s ease-out;
        }

        @include respond(smallphone) {
          animation: moveInRightPhones 1s ease-out;
        }

      }


      .life-header {
        color: $hover-third;
      }

      .wave-header {
        font-size: 2rem;
        display: inline-block;
        padding: 1rem 1rem;
        background: linear-gradient(to right, #353434, #5a5a5a);
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        transition: all 1s ease-in;
        margin-left: 0.3rem;
        animation: moveToTop 1s ease-out;

        @include respond(tab-land) {
          animation: moveToTopPhones 1s ease-out;
        }

        @include respond(tab-port) {
          animation: moveToTopPhones 1s ease-out;
        }

        @include respond(phone) {
          @include responsiveStartButton(1rem, .1rem, .5rem, 2rem);
        }

        @include respond(miniphone) {
          @include responsiveStartButton(.9rem, .1rem, .3rem, 1.4rem);
        }

        @include respond(smallphone) {
          @include responsiveStartButton(.7rem, .1rem, .3rem, 1.4rem);
        }


        &:hover {
          padding-right: 4rem;
          background: linear-gradient(to right, $hover-secondary, $hover-third);
          color: #fff;

          @include respond(miniphone) {
            padding-right: 2rem;
            background: linear-gradient(to right, $hover-secondary, $hover-third);
            color: #fff;
          }
        }
      }
    }
  }

  .section-a {
    color: #000;
    padding: 2rem;
    @include flexBox(column, center, center);
    text-align: center;
    line-height: 2.3;
    background-color: rgba(41, 109, 124);
    z-index: -1;

    .sss-animation {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .sss-info {
      height: 100%;
      width: 100%;
      position: relative;
      @include flexBox(column, center, center);
      z-index: 1;

      .faq-button {
        z-index: 100;
      }

      h1 {
        z-index: 100;
      }
    }

    section {
      height: 100%;
      width: 100%;
    }

    .toothBrush {
      position: absolute;
      width: 100%;
      height: 80%;
      top: 0;
      left: 0;
    }

    .toothBrush div {
      position: absolute;
      display: block;
    }

    .toothBrush div:nth-child(1) {
      @include toothBrushAnimation(20%, 15s, -2s);
    }

    .toothBrush div:nth-child(2) {
      @include toothBrushAnimation(70%, 15s, -4s);
    }

    .toothBrush div:nth-child(3) {
      @include toothBrushAnimation(5%, 20s, -7s);
    }

    .toothBrush div:nth-child(4) {
      @include toothBrushAnimation(50%, 18s, -5s);
    }

    .toothBrush div:nth-child(5) {
      @include toothBrushAnimation(85%, 14s, -5s);
    }

    .toothBrush div:nth-child(6) {
      @include toothBrushAnimation(15%, 16s, -10s);
    }

    .toothBrush div:nth-child(7) {
      @include toothBrushAnimation(90%, 15s, -4s);
    }

    @keyframes fall {
      0% {
        opacity: 1;
        top: 0;
        transform: translateX (20px) rotate(0deg);
      }

      20% {
        opacity: 0.8;
        transform: translateX (-20px) rotate(45deg);
      }

      40% {
        transform: translateX (-20px) rotate(90deg);
      }

      60% {
        transform: translateX (-20px) rotate(135deg);
      }

      80% {
        transform: translateX (-20px) rotate(180deg);
      }

      100% {
        top: 100%;
        transform: translateX (-20px) rotate(225deg);
      }
    }

    .toothBrush1 {
      transform: rotateX(180deg);
    }

    a {
      font-size: 1rem;
      text-decoration: none;
      padding: 0.6rem 1.3rem;
      background: linear-gradient(to right, $hover-third, $hover-secondary);
      color: #fff;
      border-radius: 10px;
      transition: all 1s ease;

      @include respond(miniphone) {
        font-size: .9rem !important;
        padding: 0.4rem 2rem;
      }

      &:hover {
        background: linear-gradient(to bottom, $hover-primary, $hover-third);
      }
    }

    h1 {
      padding-bottom: 2rem;
      color: $hover-third;

      span {
        color: #fff;
      }
    }

    span {
      color: $hover-third;
    }

    .brush {
      height: 75px;
      width: 75px;

      @include respond(phone) {
        height: 50px;
        width: 50px;
      }
    }
  }

  .section-b {
    max-width: 90vw;
    margin: auto;
    margin-top: 2rem;
    position: relative;

    @include respond(tab-land) {
      margin: 2rem;
      height: auto;
    }

    @include respond(tab-port) {
      margin: 2rem;
      height: auto;
    }

    @include respond(phone) {
      margin: 1rem auto;
      height: auto;
    }


    &-main {
      height: 100%;
      background: url("../../assets/recruitmentBg.jpg") center center / cover no-repeat;
      padding: 2rem;


      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.2;
        z-index: 0;
      }
    }

    .row {
      max-width: 114rem;
      height: 100%;
      margin: 0 auto;
      @include flexBox(row, center, center);

      h1 {
        font-size: 3rem;
        margin-bottom: 5rem;
        color: $hover-third;
        text-align: center;

        @include respond(tab-land) {
          @include responsiveTreatmentsHeader(3rem, 1.3rem, 1.7rem);
        }

        @include respond(tab-port) {
          @include responsiveTreatmentsHeader(3rem, 1.3rem, 1.7rem);
        }

        @include respond(phone) {
          @include responsiveTreatmentsHeader(2.3rem, 2rem, 2rem);
        }

        @include respond(smallphone) {
          @include responsiveTreatmentsHeader(1.5rem, 2rem, 2rem);
        }

      }

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      [class^="col"] {
        float: left;

        @include respond(tab-land) {
          @include responsiveTreatmentsCol(40%, 0);
        }

        @include respond(tab-port) {
          @include responsiveTreatmentsCol(40%, 0);
        }

        @include respond(phone) {
          @include responsiveTreatmentsCol(80%, 0);
        }

      }

      .col-1-of-3 {
        z-index: 1;
        width: calc((100% - 2 * 9rem) / 3);
        padding: 0;
        margin-bottom: 5rem;

        @include respond(tab-land) {
          height: 20rem;
          margin: auto !important;
          margin-bottom: 2rem !important;
        }

        @include respond(tab-port) {
          height: 11rem;
          margin: auto !important;
          margin-bottom: 2rem !important;

        }

        @include respond(phone) {
          height: 8rem;
          margin-bottom: 2rem !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }


        &:not(:nth-child(4), :last-child) {
          margin-right: 5rem;


        }

        .cards {
          background-color: none;
          border: none;
          perspective: 150rem;
          -moz-perspective: 150rem;
          position: relative;
          height: 20rem;

          &-side {
            @include flexBox(row, center, center);
            height: 18rem;
            color: #fff;
            text-align: center;
            font-size: 2rem;
            transition: all 1s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            border-radius: 5rem;
            box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.8);

            @include respond(tab-port) {
              height: 11rem;
            }

            @include respond(phone) {
              height: 8rem;
            }


            &-front {
              background: rgba(255, 255, 255, 0.3);

              h2 {
                font-size: 1.8rem;
                color: #fff;
              }

              @include respond(desktop) {
                font-size: 1.4rem;
              }

              @include respond(tab-land) {
                font-size: 1.8rem;
              }

              @include respond(tab-port) {
                font-size: 1.4rem;
              }

              @include respond(phone) {
                font-size: 1rem;
              }

            }

            &-back {
              background: rgba(255, 255, 255, 0.3);
              transform: rotateY(180deg);

              .backside-1-header {

                h3 {
                  font-size: 1.5rem;
                  color: #fff;
                  margin-bottom: 2rem;
                }

                a {
                  background: $hover-third;
                  text-decoration: none;
                  padding: 0.5rem 1.3rem;
                  border-radius: 10px;

                  color: #fff;

                  @include respond(phone) {
                    font-size: 1rem;
                    padding: 0.5rem 2rem;
                    height: 100%;
                    @include flexBox(row, center, center);
                  }
                }
              }
            }
          }

          &:hover .cards-side-front {
            transform: rotateY(180deg);
          }

          &:hover .cards-side-back {
            transform: rotateY(0);
          }
        }
      }
    }
  }

  .section-d {
    padding-bottom: 4rem;
    color: #000;
    @include flexBox(row, center, center);

    &-slide {
      height: 100%;
      line-height: normal;

      h1 {
        text-align: center;
        font-size: 1rem;
        color: rgb(84, 83, 83);
        margin-top: 1rem;

        @include respond(desktop) {
          font-size: 2rem;
        }

        @include respond(tab-land) {
          font-size: 2rem;
        }

        @include respond(tab-port) {
          font-size: 2rem;
        }

        @include respond(miniphone) {
          font-size: 1.7rem;
        }
      }

      p {
        text-align: center;
        font-size: 3rem;

        @include respond(desktop) {
          font-size: 1.8rem;
        }

        @include respond(tab-land) {
          font-size: 1.8rem;
        }

        @include respond(tab-port) {
          font-size: 1.5rem;
        }

        @include respond(phone) {
          font-size: 1rem;
        }

        @include respond(miniphone) {
          font-size: .9rem;
        }


        .life-header {
          color: $hover-third;
          cursor: pointer;

          &:hover {
            color: $hover-primary;
          }
        }
      }
    }
  }

  .section-f {
    @include flexBox(row, center, flex-start);
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;


    @include respond(desktop) {
      @include flexBox(column, center, center);
      height: 150vh;
    }

    @include respond(tab-land) {
      @include flexBox(column, center, center);
      height: 150vh;
    }

    @include respond(tab-port) {
      @include flexBox(column, center, center);
      height: 150vh;
    }

    @include respond(phone) {
      @include flexBox(column, center, center);
      height: 150vh;
    }


    .left-map {
      @include flexBox(row, center, center);
      height: 100%;
      width: 70%;
      z-index: 1;

      @include respond(desktop) {
        width: 100%;
      }

      @include respond(tab-land) {
        width: 100%;
      }

      @include respond(tab-port) {
        width: 100%;
      }

      @include respond(phone) {
        width: 90%;
      }

    }

    .right-map {
      @include flexBox(row, center, center);
      height: 100%;
      width: 30%;
      z-index: 1;

      @include respond(desktop) {
        @include responsiveRightMap(100%, 2rem);
      }

      @include respond(tab-land) {
        @include responsiveRightMap(100%, 2rem);
      }

      @include respond(tab-port) {
        @include responsiveRightMap(100%, 2rem);
      }

      @include respond(phone) {
        @include responsiveRightMap(100%, 2rem);
      }

      @include respond(smallphone) {
        @include responsiveRightMap(70%, 2rem);
      }


      &-text {
        width: 100%;
        @include flexBox(column, center, center);

        .opening-hours-container {
          @include flexBox(row, center, center);
        }

        .card {
          min-width: 23.5rem;
          background: linear-gradient(to right, $hover-primary, $hover-third);
          display: grid;
          grid-template-columns: 10rem auto;

          padding: 2rem;
          border-radius: 1rem;

          font-size: 1.2rem;
          border: none;

          color: #fff;
          box-shadow: 0 5rem 5.5rem rgba(189, 196, 214, 0.5);

          @include respond(phone) {
            min-width: 10rem;
            font-size: 1rem;
            grid-template-columns: 7rem auto;

          }

          @include respond(phone) {
            width: 100%;
          }

        }


        .card:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        .card .content span {
          margin-left: 0.5rem;
        }
      }

      h2 {
        color: $hover-third;
        margin-bottom: 2rem;
        text-align: center;

        @include respond(tab-land) {
          font-size: 2.5rem;
        }

        @include respond(tab-port) {
          font-size: 2rem;
        }

        @include respond(phone) {
          font-size: 1.5rem;
        }
      }

      h4 {
        width: 100%;
        color: #000;
      }
    }
  }

  .btn-display {
    @include flexBox(row, center, center);
  }
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeftPhones {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRightPhones {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToTopPhones {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }

  80% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}