@import "../abstracts/variables";

#cases {
  height: 100vh;
  max-width: 95vw;
  margin: auto;
}
.section-header {
  height: 15%;
  text-align: center;
}
.flex-img {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
