@import "../abstracts/variables";
@import "../abstracts/mediaquery";

#container {
  max-width: 95vw;
  margin: auto;
  z-index: 1;
}

.section-header {
  height: 8%;
  width: 100%;
  @include flexBox(row, center, center);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: url("../../assets/home2.jpeg") center center/cover no-repeat;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #000, $hover-primary);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.9;
  }

  h1 {
    margin: 1rem auto;
    color: #fff;
    z-index: 1;

    @include respond(tab-land) {
      @include responsiveTreatmentsPageHeader(2.5rem, 1rem, auto);
    }

    @include respond(tab-port) {
      @include responsiveTreatmentsPageHeader(2.5rem, 1rem, auto);
    }

    @include respond(phone) {
      @include responsiveTreatmentsPageHeader(2.5rem, 1rem, auto);
    }
    @include respond(smallphone) {
      @include responsiveTreatmentsPageHeader(1.5rem, 1rem, auto);
    }
  }
}

.treatments-parent {
  width: 100%;
  @include flexBox(row, flex-start, flex-start);

  @include respond(tab-land) {
    @include flexBox(column-reverse, flex-start, center);
  }

  @include respond(tab-port) {
    @include flexBox(column-reverse, flex-start, center);
  }

  @include respond(phone) {
    @include flexBox(column-reverse, flex-start, center);
  }
}

.treatments-list {
  height: 90%;
  width: 20%;
  margin-top: 4rem;
  margin-left: 0;
  margin-right: 2rem;
  background: linear-gradient(to bottom, #000, $hover-primary);
  border-radius: 20px;

  @include respond(tab-land) {
    width: 100%;
    margin-right: 0;
  }

  @include respond(tab-port) {
    width: 100%;
    margin-right: 0;
  }

  @include respond(phone) {
    width: 100%;
    margin-right: 0;
  }

  ul {
    @include flexBox(column, flex-start, flex-start);
    padding: 0;
    margin: 3rem auto;
  }

  a {
    width: 70%;
    margin: auto;
    padding: 1rem;
    background-color: rgb(248, 249, 250);
    text-align: center;
    margin-top: 1rem;
    list-style: none;
    cursor: pointer;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 60%;
    }

    @include respond(phone) {
      width: 70%;
    }
    @include respond(miniphone) {
      width: 70%;
    }

    &:hover {
      background: ($hover-primary);
    }
  }

  .list-items {
    height: 100%;
    color: #000;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

.treatments-info {
  height: 100%;
  width: 95%;
  padding: 2rem;

  .middle-bg {
    width: 100%;
    height: 37vh;
    margin: 3rem auto;
    background: url("../../assets/home2.jpeg") top center/cover no-repeat;
    background-attachment: fixed;
    z-index: 0;
    border-radius: 20px;
    @include respond(tab-land) {
      height: 65vh;
    }
    @include respond(tab-port) {
      height: 55vh;
    }
    @include respond(phone) {
      height: 50vh;
    }

    &-icons {
      height: 100%;
      @include flexBox(row, space-around, center);

      @include respond(tab-land) {
        @include flexBox(column, center, center);
        padding: 0.7rem;
      }

      @include respond(tab-port) {
        @include flexBox(column, center, center);
        padding: 0.7rem;
      }
      @include respond(phone) {
        @include flexBox(column, center, center);
        padding: 0.7rem;
      }

      i {
        @include respond(tab-port) {
          font-size: 2.5rem;
        }
        @include respond(phone) {
          font-size: 2.3rem;
        }
      }

      &-col {
        height: 100%;
        @include flexBox(column, center, center);
        z-index: 1;
        color: #fff;

        h3 {
          font-size: 1.4rem;
          margin-top: 1.2rem;
          @include respond(tab-port) {
            font-size: 1.3rem;
          }
          @include respond(phone) {
            font-size: 1.2rem;
          }
          @include respond(smallphone) {
            font-size: 1rem;
          }
        }
      }
    }

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, black, $hover-primary);
      opacity: 0.9;
      border-radius: 20px;
    }
  }
  p,
  li {
    width: 100%;
    font-size: 0.9rem;
  }

  @include respond(tab-land) {
    @include responsiveTreatmentsPageList;
  }

  @include respond(tab-port) {
    @include responsiveTreatmentsPageList;
  }

  @include respond(phone) {
    height: 100%;
    @include responsiveTreatmentsPageList;
  }

  @include respond(miniphone) {
    height: 100%;
    @include responsiveTreatmentsPageList;
  }
}
